{% extends "global/Page.html" %}
{% load otree %}

{% block title %} Player {{player.MyNumber}} Voting{% endblock %}

{% block content %}



<font size="4">
<table style="width:90%" font=5>
    <tr>
        <td> You are player  </td>
        <td> <b> {{player.MyNumber}} </b> </td>
    </tr>
    <tr  style="border-bottom:1px solid black">
        <td> Your private evidence is </td>
        <td> <b> {{ player.str_private_evidence }} </b> </td>
    </tr>
    <tr>
        <td> Evidence disclosed by Player 1 </td>
        <td> <b> {{ player.group.disclosure_information1 }} </b> </td>
    </tr>
    <tr>
        <td> Evidence disclosed by Player 2 </td>
        <td> <b> {{ player.group.disclosure_information2 }} </b> </td>
    </tr>
    <tr>
        <td> Evidence disclosed by Player 3 </td>
        <td> <b> {{ player.group.disclosure_information3 }} </b> </td>
    </tr>
    <tr>
        <td> Evidence disclosed by Player 4 </td>
        <td> <b> {{ player.group.disclosure_information4 }} </b> </td>
    </tr>
    <tr>
        <td> Evidence disclosed by Player 5 </td>
        <td> <b> {{ player.group.disclosure_information5 }} </b> </td>
    </tr>
    <!--
    <tr style="border-bottom:1px solid black">
        <td> Initial Public Evidence </td>
        <td> <b> {{ public_signal }} </b></td>
    -->
    </tr>
    <tr style="border-bottom:1px solid black">
        <td> </td> <td> </td> 
    </tr>
    <tr>
        <td> Which project would you like to get implemented? </td>
        <td> <b> {% formfield player.vote label="" %} </b> </td>
    </tr>
    <tr align="right">
        <td> </td>
        <td> {% next_button %} </td>
    </tr>
</table>


{% endblock %}
