{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<p>
    Thank you for joining us on this experiment. 
    Welcome!

    <br> <br>

    You have earned $10 by entering this session on time. 
    If you read and follow the instructions below carefully, 
    you have the potential to earn up to $20 in addition to the show up fee. In the experiment, 
    you will earn Experimental Dollars (E$s), 
    converted into cash at the end of the experiment. 
    <b  style="color:red"> For every E$5, you have at the end of the experiment you will be paid 1 US Dollar.  </b>
    During the experiment, you will be pooled together with other participants, 
    but they will not know who you are, 
    and their identities will remain anonymous for you. 
    Your earnings depend on how well you make decisions during the experiment. 
    NO communication with other participants is allowed during this experiment. 
    If you have any questions, please write down your question on the chat window or click on raise hand, 
    and the experimenter will assist you.
   
    
</p>

{% endblock %}
